<div class="card flex justify-content-center">
    <p-card [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <h2>Authentification</h2>
        </ng-template>

        <ng-template pTemplate="content">
            
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>